.header {
    width: 100%;
    min-width: 320px;
    background-color: var(--main-blue);
    display: grid;
    place-items: center;
}

.header-nav {
    width: 100%;
    max-width: 1440px;
    padding: 2.8rem 2rem;
    margin: 0 auto;
}

.header-nav .nav--items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav .nav--items .navigation {
    display: flex;
    align-items: center;
}

.header-nav .nav--items .navigation li:not(:last-child) {
    margin-inline-end: 2rem;
}

.header-nav .nav--items .navigation li .link__item {
    display: block;
    font-size: var(--link-font);
    color: var(--main-white);
    text-decoration: none;
}

.header-nav .nav--items .navigation li:not(:last-child) .link__item:hover {
    text-decoration: underline;
}

.header-nav .nav--items .navigation li:last-child .link__item {
    display: block;
    padding: 1.6rem 2rem;
    border-radius: 1.2rem;
    background-color: var(--main-white);
    color: var(--main-blue);
    font-weight: bold;
}

.header-nav .nav--items .navigation li:last-child .link__item:hover {
    background-color: var(--secondary-white);
}

@media (max-width: 600px) {
    .header-nav .nav--items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-nav .nav--items .logo {
        margin-block-end: 2rem;
    }
}